:root {
  --md-primary-fg-color: #169D94;
  --md-primary-fg-color--light: #169D94
}

.md-header {
  background-color: #243E90 !important
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: justify;
}