:root {
  --md-primary-fg-color: #169D94;
  --md-primary-fg-color--light: #169D94
}

.md-header {
  background-color: #243E90 !important
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: justify;
}

.md-header .md-search {
    position: absolute;
    right: 720px;   
    top: 1.5px;    
    width: 250px; 
}

.md-header::after {
    content: '';
    position: absolute;
    right: 630px;
    top: -9px;
    width: 80px;
    height: 80px;
    background-image: url('/images/EPFL_logo.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}